apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: storageclass-rwx-test
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: {{ ocp_nfs_storage_class_name }}
---
apiVersion: v1
kind: Pod
metadata:
  name: nginx
spec:
  containers:
  - image: nginx
    imagePullPolicy: IfNotPresent
    name: nginx
    ports:
    - containerPort: 80
      protocol: TCP
    volumeMounts:
      - mountPath: /var/lib/www/html
        name: var-lib-www-html
  volumes:
  - name: var-lib-www-html
    persistentVolumeClaim:
      claimName: storageclass-rwx-test
      readOnly: false
---
