kind: Secret
apiVersion: v1
metadata:
  name: kubernetes-cloud-provider-openstack
  namespace: default
data:
  os-authURL: {{ rhosp_os_auth_url | b64encode }}
  os-region: {{ rhosp_os_region_name | b64encode }}
  os-password: {{ rhosp_os_password | b64encode }}
{% if rhosp_os_userid is defined %}
  os-userID: {{ rhosp_os_userid | b64encode }}
{% endif %}
{% if rhosp_os_username is defined %}
  os-userName: {{ rhosp_os_username | b64encode }}
{% endif %}
  os-domainID: {{ rhosp_os_domain_id | default('default') | b64encode }}
{# os-domainName: #}
{% if rhosp_os_tenant_id is defined %}
  os-projectID: {{ rhosp_os_tenant_id | b64encode }}
{% elif rhosp_os_project_id is defined %}
  os-projectID: {{ rhosp_os_project_idv }}
{% endif %}
{% if rhosp_os_project_name is defined %}
  os-projectName: {{ rhosp_os_project_name | b64encode }}
{% endif %}
