---
  - name: "Add to Load Balancer pool members"
    openstack.cloud.lb_member:
      address: "{{ rhosp_lb_member_address }}"
      name: "{{ rhosp_lb_member_name }}"
      pool: "{{ rhosp_private_pool_member_item.name }}"
      protocol_port: "{{ rhosp_private_pool_member_item.port }}"
      state: "present"
    loop: "{{ rhosp_lb_member_ports }}"
    loop_control:
      loop_var: rhosp_private_pool_member_item
    when: rhosp_lb_member_state is undefined or rhosp_lb_member_state == "present"

  - name: "Remove from Load Balancer pool members"
    openstack.cloud.lb_member:
      name: "{{ rhosp_lb_member_name }}"
      pool: "{{ rhosp_private_pool_member_item.name }}"
      state: "absent"
    loop: "{{ rhosp_lb_member_ports }}"
    loop_control:
      loop_var: rhosp_private_pool_member_item
    when: rhosp_lb_member_state is defined and rhosp_lb_member_state == "absent"
...
