apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: csi-pvc-manilaplugin
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: csi-manila-nfs
---
apiVersion: v1
kind: Pod
metadata:
  name: nginx
spec:
  containers:
  - image: nginx
    imagePullPolicy: IfNotPresent
    name: nginx
    ports:
    - containerPort: 80
      protocol: TCP
    volumeMounts:
      - mountPath: /var/lib/www/html
        name: csi-data-manilaplugin
  volumes:
  - name: csi-data-manilaplugin
    persistentVolumeClaim:
      claimName: csi-pvc-manilaplugin
      readOnly: false
---
