# Requires:
# * rhosp_share_name: 
# * rhosp_share_nfs_server: 
# * rhosp_share_nfs_path: 
---
- name: "Define the Storage Class name"
  ansible.builtin.set_fact:
    ocp_nfs_storage_class_name: "nfs-csi-{{ rhosp_share_name }}"

- name: "Template the Storage Class - {{ ocp_nfs_storage_class_name }}"
  ansible.builtin.template:
    src: "../templates/nfs-csi.yaml.j2"
    dest: "/tmp/{{ ocp_nfs_storage_class_name }}.yaml"
    mode: 0644

- name: "Create the Storage Class"
  ansible.builtin.command: |
    oc apply -f "/tmp/{{ ocp_nfs_storage_class_name }}.yaml"
  register: ocp_create_storage_class_res

- name: "Template Manila resources"
  ansible.builtin.debug:
    var: ocp_create_storage_class_res
...
