---
- name: "Collect information"
  import_playbook: _common_rhosp.yaml

- name: "Get OpenStack share information"
  hosts: "localhost"
  gather_facts: true

  pre_tasks:
  - name: "Check for required variables"
    ansible.builtin.assert:
      that:
      - (rhosp_share is defined and (rhosp_share | length > 0)) or (metadata.rhosp_share is defined and (metadata.rhosp_share | length > 0))
      fail_msg:

  - name: "Set actual RHOSP share information from rhosp_share"
    ansible.builtin.set_fact:
      actual_rhosp_share: "{{ rhosp_share }}"
    when: >
      rhosp_share is defined and (rhosp_share | length > 0)

  - name: "Set actual RHOSP share information from metadata"
    ansible.builtin.set_fact:
      actual_rhosp_share: "{{ metadata.rhosp_share }}"
    when: >
      (actual_rhosp_share is not defined) and 
      metadata.rhosp_share is defined and 
      (metadata.rhosp_share | length > 0)

  - name: "Print actual share information"
    ansible.builtin.debug:
      var: actual_rhosp_share

  tasks:
  - name: "Get RHOSP information from the environment"
    ansible.builtin.set_fact:
      rhosp_os_region: "{{ lookup('ansible.builtin.env', 'OS_REGION_NAME') }}"
      rhosp_os_password: "{{ lookup('ansible.builtin.env', 'OS_PASSWORD') }}"
      rhosp_server_ips: []
      nfs_share_urls: []

  - name: "Get all the compute node servers"
    openstack.cloud.server_info:
      name: "{{ rhosp_compute_node_server_prefix }}*"
    register: rhosp_computenode_server_info
  
  - name: "Update array with compute node IPs"
    ansible.builtin.set_fact:
      rhosp_server_ips: "{{ rhosp_server_ips + [rhosp_server_info_item.addresses[rhosp_network][0].addr] }}"
    loop: "{{ rhosp_computenode_server_info.servers }}"
    loop_control:
      loop_var: rhosp_server_info_item

  - name: "Get all the control plane servers"
    openstack.cloud.server_info:
      name: "{{ rhosp_control_plane_server_prefix }}*"
    register: rhosp_controlplane_server_info

  - name: "Update array with control plane IPs"
    ansible.builtin.set_fact:
      rhosp_server_ips: "{{ rhosp_server_ips + [rhosp_server_info_item.addresses[rhosp_network][0].addr] }}"
    loop: "{{ rhosp_controlplane_server_info.servers }}"
    loop_control:
      loop_var: rhosp_server_info_item

  - name: "Print ip array"
    ansible.builtin.debug:
      var: rhosp_server_ips

  - name: "Print localhost variables"
    ansible.builtin.debug:
      var: hostvars['localhost']

  - name: "Print localhost variables"
    ansible.builtin.debug:
      msg:
      - "OS_CLIENT_CONFIG_FILE: {{ lookup('env', 'OS_CLIENT_CONFIG_FILE') }}"

  - ansible.builtin.include_tasks: 
      file: tasks/rhosp-shares.yaml
    vars:
      rhosp_share_manage_name: "{{ rhosp_share_item.name }}"
      rhosp_share_manage_network_name: "{{ rhosp_share_item.network }}"
      rhosp_share_manage_neutron_network: "{{ rhosp_network }}"
      rhosp_share_manage_protocol: "{{ rhosp_share_item.protocol }}"
      rhosp_share_manage_region: "{{ rhosp_os_region }}"
      rhosp_share_manage_size: "{{ rhosp_share_item.size }}"
      rhosp_share_manage_type: "{{ rhosp_share_item.type }}"
      rhosp_share_manage_instance_list: "{{ rhosp_server_ips }}"
      state: present
    loop: "{{ actual_rhosp_share }}"
    loop_control:
      loop_var: rhosp_share_item
    register: deploy_shares_task

  - name: "Print deploy_shares_on_rhosp"
    ansible.builtin.debug:
      var: deploy_shares_task

  - name: "Print resulting nfs_share_urls"
    ansible.builtin.debug:
      var: nfs_share_urls

  post_tasks:
  - name: "Print OUT share information"
    ansible.builtin.debug:
      msg:
      - "rhosp_share_manage_nfs_server: {{ rhosp_share_manage_nfs_server }}"
      - "rhosp_share_manage_nfs_path: {{ rhosp_share_manage_nfs_path }}"
      - "nfs_share_urls: {{ nfs_share_urls }}"
      # - "ocp_nfs_storage_class_name: {{ ocp_nfs_storage_class_name }}"

  - name: "Extract NFS Path"
    ansible.builtin.set_fact:
      global_rhosp_share_nfs_server: "{{ rhosp_share_manage_nfs_server }}"
      global_rhosp_share_nfs_path: "{{ rhosp_share_manage_nfs_path }}"
      global_nfs_share_urls: "{{ nfs_share_urls }}"
  #     ocp_nfs_storage_class_name: "nfs-csi-{{ rhosp_share_name }}"
      # delegate_to: localhost
      # delegate_facts: True

  - name: "Print OUT logal variables"
    ansible.builtin.debug:
      msg:
      - "global_rhosp_share_nfs_server: {{ global_rhosp_share_nfs_server }}"
      - "global_rhosp_share_nfs_path: {{ global_rhosp_share_nfs_path }}"
      - global_nfs_share_urls: "{{ nfs_share_urls }}"

- name: "Deploy RHOSP Manila as storage Backend"
  hosts: "{{ ocp_bastion | default('ocp_bastion') | default('localhost') }}"
  gather_facts: true

  pre_tasks:
  - name: "Fetch NFS share information"
    ansible.builtin.set_fact:
      rhosp_share_nfs_server: "{{ hostvars['localhost']['rhosp_share_manage_nfs_server'] }}"
      rhosp_share_nfs_path: "{{ hostvars['localhost']['rhosp_share_manage_nfs_path'] }}"
      nfs_share_urls: "{{ hostvars['localhost']['nfs_share_urls'] }}"
      # ocp_nfs_storage_class_name: "{{ hostvars['localhost']['ocp_nfs_storage_class_name'] }}"
      # delegate_to: localhost
      # delegate_facts: True

  - name: "Print IN share information"
    ansible.builtin.debug:
      msg:
      - "rhosp_share_nfs_server: {{ rhosp_share_nfs_server }}"
      - "rhosp_share_nfs_path: {{ rhosp_share_nfs_path }}"
      - "nfs_share_urls: {{ nfs_share_urls }}"
      # - "ocp_nfs_storage_class_name: {{ ocp_nfs_storage_class_name }}"

  - name: "Get RHOSP information from the environment"
    ansible.builtin.set_fact:
      rhosp_os_username: "{{ lookup('ansible.builtin.env', 'OS_USERNAME') }}"
      rhosp_os_password: "{{ lookup('ansible.builtin.env', 'OS_PASSWORD') }}"

  tasks:
  - name: "List the worker nodes."
    ansible.builtin.shell: |
      oc get nodes --selector='node-role.kubernetes.io/worker' -o json
    register: ocp_worker_nodes_res

  - name: "Print worker nodes"
    ansible.builtin.set_fact:
      worker_node_list: "{{ ocp_worker_nodes_res.stdout | from_json }}"
      # ocp_nfs_storage_class_name: "nfs-csi-{{ rhosp_share_manage_name }}"

  - name: "Print worker nodes"
    ansible.builtin.debug:
      var: worker_node_list

  - name: "Print worker nodes"
    ansible.builtin.debug:
      msg: 
      - "worker_node_list.apiVersion: {{ worker_node_list.apiVersion }}"
      - "worker_node_list.items: {{ worker_node_list['items'] }}"

  - name: "Label worker nodes as storage"
    ansible.builtin.shell: |
      oc label nodes {{ wn_server_info.metadata.name }} cluster.ocs.openshift.io/openshift-storage=''
    loop: "{{ worker_node_list['items'] }}"
    loop_control:
      loop_var: wn_server_info

  # https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/docs/install-csi-driver-v4.13.1.md
  - name: "Install csi-driver-nfs"
    ansible.builtin.shell: |
      curl -skSL https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/v4.13.1/deploy/install-driver.sh | bash -s v4.13.1 --
    
  # - name: "Template the Storage Class - {{ ocp_nfs_storage_class_name }}"
  #   ansible.builtin.template:
  #     src: "nfs-csi.yaml.j2"
  #     dest: "/tmp/{{ ocp_nfs_storage_class_name }}.yaml"
  #     mode: 0644

  # - name: "Create the Storage Class"
  #   ansible.builtin.command: |
  #     oc apply -f "/tmp/{{ ocp_nfs_storage_class_name }}.yaml"
  #   register: ocp_create_storage_class_res

  # - name: "Print input"
  #   ansible.builtin.debug:
  #     var: nfs_share_urls

  - ansible.builtin.include_tasks: 
      file: ../../ansible/tasks/nfs-csi-sc.yaml
    vars:
      rhosp_share_name: "{{ nfs_share_item.share_name }}"
      rhosp_share_nfs_server: "{{ nfs_share_item.nfs_server }}"
      rhosp_share_nfs_path: "{{ nfs_share_item.nfs_path }}"
    loop: "{{ nfs_share_urls }}"
    loop_control:
      loop_var: nfs_share_item
    register: deploy_nfs_csi_sc_task

...
 