---
- name: "Collect information"
  import_playbook: _common_rhosp.yaml
  when: ocp_cluster_id_tag is not defined

- name: "Delete RHOSP Cinder as storage Backend"
  hosts: "{{ ocp_bastion | default('ocp_bastion') | default('localhost') }}"
  gather_facts: true
  vars:
    manila_resource_templates:
    - kubernetes-cloud-provider-openstack-manila-secret
  #   # - kubernetes-cloud-provider-openstack-manila-cm
  #   k8s_maj_min_version: "{{ (k8s_version | split('.'))[0] }}.{{ (k8s_version | split('.'))[1] }}"

  tasks:

  - name: "Download Controller and Node plugins to be modified"
    ansible.builtin.get_url:
      url: "https://raw.githubusercontent.com/kubernetes/cloud-provider-openstack/refs/tags/{{ kubernetes_cloud_provider_openstack_version }}/manifests/manila-csi-plugin/{{ item }}"
      dest: "/tmp/{{ item }}"
      mode: '0640'
    loop:
    - csi-controllerplugin.yaml
    - csi-nodeplugin.yaml

  - name: "Remove the Controller and Node plugins"
    ansible.builtin.command: |
      oc delete -f /tmp/{{ item }}
    loop:
    - csi-controllerplugin.yaml
    - csi-nodeplugin.yaml
    register: csi_remove_plugins
    failed_when: "csi_remove_plugins.rc != 0 and 'NotFound' not in csi_remove_plugins.stderr"
    changed_when: "'NotFound' not in csi_remove_plugins.stderr"

  - name: "Delete Manifests"
    ansible.builtin.shell: |
      oc delete -f https://raw.githubusercontent.com/kubernetes/cloud-provider-openstack/refs/tags/{{ kubernetes_cloud_provider_openstack_version }}/manifests/manila-csi-plugin/csidriver.yaml
      oc delete -f https://raw.githubusercontent.com/kubernetes/cloud-provider-openstack/refs/tags/{{ kubernetes_cloud_provider_openstack_version }}/manifests/manila-csi-plugin/csi-nodeplugin-rbac.yaml
      oc delete -f https://raw.githubusercontent.com/kubernetes/cloud-provider-openstack/refs/tags/{{ kubernetes_cloud_provider_openstack_version }}/manifests/manila-csi-plugin/csi-controllerplugin-rbac.yaml

  # - name: "Create Manila Config Map"
  - name: "Template manifests"
    ansible.builtin.template:
      src: "{{ item }}.yaml.j2"
      dest: "/tmp/{{ item }}.yaml"
      mode: 0600
    vars:
      rhosp_os_password: whocares
    loop: "{{ manila_resource_templates }}"

  - name: "Delete Manila resources"
    ansible.builtin.command: |
      oc delete -f /tmp/{{ item }}.yaml
    register: ocp_manila_resource_res
    loop: "{{ manila_resource_templates }}"

  #   ansible.builtin.command: |
  #     oc delete secret kubernetes-cloud-provider-openstack
  #   register: ocp_cinder_secret

...
