---
- name: "Collect information"
  import_playbook: _common_rhosp.yaml
  when: ocp_cluster_id_tag is not defined

- name: "Delete RHOSP Cinder as storage Backend"
  hosts: "{{ ocp_bastion | default('ocp_bastion') | default('localhost') }}"
  gather_facts: true

  tasks:
  - name: "Delete Manifests"
    ansible.builtin.shell: |
      # oc delete -f ocp/4.15/upi_rhosp/ansible/files/kubernetes-cloud-provider-openstack-cinder-sc.yaml
      # oc delete -f https://github.com/kubernetes/cloud-provider-openstack/raw/refs/heads/master/manifests/cinder-csi-plugin/csi-cinder-driver.yaml
      # oc delete -f https://github.com/kubernetes/cloud-provider-openstack/raw/refs/heads/master/manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
      # oc delete -f https://github.com/kubernetes/cloud-provider-openstack/raw/refs/heads/master/manifests/cinder-csi-plugin/cinder-csi-nodeplugin-rbac.yaml
      # oc delete -f https://github.com/kubernetes/cloud-provider-openstack/raw/refs/heads/master/manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
      # oc delete -f https://github.com/kubernetes/cloud-provider-openstack/raw/refs/heads/master/manifests/cinder-csi-plugin/cinder-csi-controllerplugin-rbac.yaml
      # oc -n kube-system delete secret cloud-config
      oc delete -f {{ item }}
    loop:
    - ocp/4.15/upi_rhosp/ansible/files/kubernetes-cloud-provider-openstack-cinder-sc.yaml
    - https://github.com/kubernetes/cloud-provider-openstack/raw/refs/heads/master/manifests/cinder-csi-plugin/csi-cinder-driver.yaml
    - https://github.com/kubernetes/cloud-provider-openstack/raw/refs/heads/master/manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
    - https://github.com/kubernetes/cloud-provider-openstack/raw/refs/heads/master/manifests/cinder-csi-plugin/cinder-csi-nodeplugin-rbac.yaml
    - https://github.com/kubernetes/cloud-provider-openstack/raw/refs/heads/master/manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
    - https://github.com/kubernetes/cloud-provider-openstack/raw/refs/heads/master/manifests/cinder-csi-plugin/cinder-csi-controllerplugin-rbac.yaml
    - -n kube-system delete secret cloud-config
    register: delete_manifests_res

  - name: "Delete Manifests"
    ansible.builtin.shell: |
      oc -n kube-system delete secret cloud-config

  - name: "Print result"
    ansible.builtin.debug:
      var: delete_manifests_res
...
