---
- name: "Collect information"
  import_playbook: ../../ansible/00-fetch-ocp-installation-info-playbook.yaml

# - name: "Collect information with ignition"
#   import_playbook: ../../ansible/00-fetch-ocp-installation-info-with-ignition-playbook.yaml

- name: "Setup RHOSP Environment"
  hosts: "localhost"
  gather_facts: false

  # pre_tasks:
  # - name: "Fetch Global variables"
  #   ansible.builtin.set_fact:
  #     coreos_image_location: "{{ hostvars['localhost']['global_coreos_image_location'] }}"
  #     coreos_image_filename: "{{ hostvars['localhost']['global_coreos_image_location'] | basename}}"
  #     bootstrap_hash: "{{ hostvars['localhost']['global_bootstrap_hash'] }}"
  #     master_hash: "{{ hostvars['localhost']['global_master_hash']}}"
  #     worker_hash: "{{ hostvars['localhost']['global_worker_hash'] }}"
  #     metadata_json: "{{ hostvars['localhost']['global_metadata_json'] }}"
  #   delegate_to: localhost
  
  tasks:
  - name: "Print authentication file"
    ansible.builtin.debug:
      msg:
      - "OS_CLIENT_CONFIG_FILE: {{ lookup('env', 'OS_CLIENT_CONFIG_FILE') }}"

  - name: "Print authentication file"
    ansible.builtin.shell: |
      cat {{ lookup('env', 'OS_CLIENT_CONFIG_FILE') }}
    register: aaa

  - name: "Print authentication file"
    ansible.builtin.debug:
      var: aaa

  - name: "Fetch authentication file"
    ansible.builtin.set_fact:
      # rhosp_config_file: "{{ lookup('env', 'OS_CLIENT_CONFIG_FILE') }}"
        # {{ lookup('ansible.builtin.file', lookup('env', 'OS_CLIENT_CONFIG_FILE')) | default('') | from_yaml | string | from_json }}"
      rhosp_auth_file_contents: |-
        {% if rhosp_auth_file_contents is defined %}
        {{ rhosp_auth_file_contents }}
        {% elif lookup('env', 'OS_CLIENT_CONFIG_FILE') | length > 0 %}
        {{ (lookup('ansible.builtin.file', lookup('env', 'OS_CLIENT_CONFIG_FILE')) | trim) | default('') }}"
        {% endif %}
      rhosp_auth_fileglob_contents: |-
        {% if rhosp_auth_file_contents is defined %}
        {{ rhosp_auth_file_contents }}
        {% elif lookup('env', 'OS_CLIENT_CONFIG_FILE') | length > 0 %}
        {{ lookup('ansible.builtin.fileglob', lookup('env', 'OS_CLIENT_CONFIG_FILE')) | default('') }}"
        {% endif %}
    # failed_when: false
    # when: lookup('env', 'OS_CLIENT_CONFIG_FILE') | length > 0

  - name: "Print authentication file"
    ansible.builtin.debug:
      var: rhosp_auth_file_contents

  - name: "Print authentication fileglob"
    ansible.builtin.debug:
      var: rhosp_auth_fileglob_contents

  - name: "Print authentication file"
    ansible.builtin.debug:
      msg: 
      - "rhosp_auth_file_contents: >{{ rhosp_auth_file_contents }}<"
      - "rhosp_auth_file_contents: {{ rhosp_auth_file_contents | type_debug}}"
      # - "rhosp_auth_file_contents: {{ rhosp_auth_file_contents | string | from_yaml }}"
      # - "rhosp_auth_file_contents: {{ rhosp_auth_file_contents | string | from_json }}"
      # - "rhosp_auth_file_contents: {{ rhosp_auth_file_contents | from_yaml | string }}"
      # - "rhosp_auth_file_contents type 2: {{ rhosp_auth_file_contents | string | type_debug }}"
      # - "rhosp_auth_file_contents type 3: {{ rhosp_auth_file_contents | string | from_yaml | type_debug }}"
      # - "rhosp_auth_file_contents type: {{ rhosp_auth_file_contents | string | from_json | type_debug }}"

  # - name: "Print authentication file"
  #   ansible.builtin.debug:
  #     msg: 
  #     - "rhosp_auth_file_contents: {{ rhosp_auth_file_contents.clouds }}"

  - name: "Set RHOSP cloud info from ENV"
    ansible.builtin.set_fact:
      rhosp_cloud_region: |-
        {% if rhosp_cloud_region is defined %}{{ rhosp_cloud_region }}
        {% elif rhosp_auth_file_contents is defined and rhosp_auth_file_contents | length > 0 %}{{ rhosp_auth_file_contents['clouds'].devstack.region_name }}
        {% else %}{{ lookup('ansible.builtin.env', 'OS_REGION_NAME') }}
        {% endif %}
    # when: lookup('ansible.builtin.env', 'OS_REGION_NAME') | length > 0

  # - name: "Set RHOSP cloud info from cloud file"
  #   ansible.builtin.set_fact:
  #     rhosp_cloud_region: "{{ rhosp_cloud_region | default(lookup('ansible.builtin.env', 'OS_REGION_NAME') | default (rhosp_auth_file_contents.clouds.devstack.region_name) )}}"
  #   when: lookup('ansible.builtin.env', 'OS_CLIENT_CONFIG_FILE') | length > 0

  - name: "Print OpenShift Cloud variables"
    ansible.builtin.debug:
      msg:
      # - "rhosp_config_file: {{ rhosp_config_file }}"
      - "rhosp_cloud_region: {{ rhosp_cloud_region }}"

  - name: "Set required RHOCP facts"
    ansible.builtin.set_fact:
      # ocp_subdomain: "{{ ocp_cluster_name }}.{{ local_domain }}"
      # ocp_cluster_id_tag: "openshiftClusterID={{ ocp_infra_id  }}"
      # rhosp_region_name: "{{ lookup('ansible.builtin.env', 'OS_REGION_NAME') }}"
      rhosp_rhcoreos_image_name: "rhcos-{{ ocp_cluster_name }}"
      rhosp_fip_api_name: "ocp-{{ ocp_cluster_name }}-api"
      rhosp_fip_ingress_name: "ocp-{{ ocp_cluster_name }}-ingress"
      rhosp_fip_bootstrap_name: "ocp-{{ ocp_cluster_name }}-bootstrap"
      rhosp_bootstrap_server_name: "{{ ocp_infra_id }}-bootstrap"
      rhosp_bastion_server_name: "{{ ocp_infra_id }}-bastion"
      rhosp_control_plane_server_prefix: "{{ ocp_infra_id }}-controlplane"
      rhosp_compute_node_server_prefix: "{{ ocp_infra_id }}-computenode"
      rhosp_ocp_bootstrap_ign_image_name: "bootstrap-ign-{{ ocp_infra_id }}"
      rhosp_loadbalancer_prefix: "ocp-{{ ocp_cluster_name }}" # Prefix used on the cluster load balancer names.
      # rhosp_loadbalancer_pool_name: "ocp-{{ ocp_cluster_name }}-pool"
      rhosp_loadbalancer_pool_name: "control-plane"
...
