---
- name: "Collect information"
  import_playbook: ../../ansible/00-fetch-ocp-installation-info-playbook.yaml

# - name: "Collect information with ignition"
#   import_playbook: ../../ansible/00-fetch-ocp-installation-info-with-ignition-playbook.yaml

- name: "Setup RHOSP Environment"
  hosts: "localhost"
  gather_facts: false

  # pre_tasks:
  # - name: "Fetch Global variables"
  #   ansible.builtin.set_fact:
  #     coreos_image_location: "{{ hostvars['localhost']['global_coreos_image_location'] }}"
  #     coreos_image_filename: "{{ hostvars['localhost']['global_coreos_image_location'] | basename}}"
  #     bootstrap_hash: "{{ hostvars['localhost']['global_bootstrap_hash'] }}"
  #     master_hash: "{{ hostvars['localhost']['global_master_hash']}}"
  #     worker_hash: "{{ hostvars['localhost']['global_worker_hash'] }}"
  #     metadata_json: "{{ hostvars['localhost']['global_metadata_json'] }}"
  #   delegate_to: localhost
  
  tasks:
  - name: "Fetch authentication file"
    ansible.builtin.set_fact:
      rhosp_config_file: "{{ lookup('env', 'OS_CLIENT_CONFIG_FILE') }}"
      rhosp_config_contents: "{{ lookup('ansible.builtin.file', lookup('env', 'OS_CLIENT_CONFIG_FILE')) | from_json }}"

  - name: "Print localhost variables"
    ansible.builtin.debug:
      msg:
      - "rhosp_config_file: {{ rhosp_config_file }}"
      - "rhosp_config_contents: {{ rhosp_config_contents }}"

  - name: "Set required RHOCP facts"
    ansible.builtin.set_fact:
      # ocp_subdomain: "{{ ocp_cluster_name }}.{{ local_domain }}"
      # ocp_cluster_id_tag: "openshiftClusterID={{ ocp_infra_id  }}"
      rhosp_region_name: "{{ lookup('ansible.builtin.env', 'OS_REGION_NAME') }}"
      rhosp_rhcoreos_image_name: "rhcos-{{ ocp_cluster_name }}"
      rhosp_fip_api_name: "ocp-{{ ocp_cluster_name }}-api"
      rhosp_fip_ingress_name: "ocp-{{ ocp_cluster_name }}-ingress"
      rhosp_fip_bootstrap_name: "ocp-{{ ocp_cluster_name }}-bootstrap"
      rhosp_bootstrap_server_name: "{{ ocp_infra_id }}-bootstrap"
      rhosp_bastion_server_name: "{{ ocp_infra_id }}-bastion"
      rhosp_control_plane_server_prefix: "{{ ocp_infra_id }}-controlplane"
      rhosp_compute_node_server_prefix: "{{ ocp_infra_id }}-computenode"
      rhosp_ocp_bootstrap_ign_image_name: "bootstrap-ign-{{ ocp_infra_id }}"
      rhosp_loadbalancer_prefix: "ocp-{{ ocp_cluster_name }}" # Prefix used on the cluster load balancer names.
      # rhosp_loadbalancer_pool_name: "ocp-{{ ocp_cluster_name }}-pool"
      rhosp_loadbalancer_pool_name: "control-plane"
...
